body {
    background-color: antiquewhite;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    text-align: center;
}

p {
    font-size: 18px;
    color: blue;
}

.center {
    text-align: left;
}

p, ul, ol{
    background-color: azure;
}


li, a {
    font-size: 18px;
    color: seagreen;
    font-weight: 500;
}

img {
    width: 1334px;
    height: auto;
}